<h1>THIS IS MEDS INDEX IN DEVELOPMENT</h1>

  <h2>You are currently tracking <%= @meds.count %> medications </h2>

<% @meds.each do |med| %>
  <div class="callout large" data-closable>
    <h1><%= link_to med.med_name, med_path(med.user_id) %></h1>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
