<p class='medication_title'>
  Track a new Medication
</p>
<%= simple_form_for @med,
  url: url_for(action: 'create', controller: 'meds'),
  method: 'post' do |f| %>
  <%= f.input :med_name, label: 'Input your medications name', class: 'medication_text'%>
  <%= f.submit 'Track Medication', class: 'button hollow large', label: 'Track Medication'%>
<% end %>
