
<div class="orbit" role="region" data-orbit>
  <ul class="orbit-container">
    <li class="is-active orbit-slide text-center">
      <div class="">
        <h3> About &#8478;emindMe </h3>
        <p class='about_remindme'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </li>
    <li class="orbit-slide text-center">
      <h3>TESTING</h3>
      <p>
        We are currently helping <%= @users.count %> people by
      </p>
    </li>
  </ul>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"></button>
    <button data-slide="1"></button>
  </nav>

</div>
