
<div class="orbit" role="region" data-orbit>
  <ul class="orbit-container">

    <li class="is-active orbit-slide text-center">
      <div class="">
        <p class="orbit_title">
          About
        </p>
        <p class='orbit_text'>
          &#8478;emindMe is an app designed to make your life a tiny bit easier. <br>
          &#8478;emindMe works by tracking your medications <br>
          and letting you set an alert/reminder to be sent to you by text message at no cost to you. <br>
          Just set an alert when you wake up and you don't have to worry because &#8478;emindMe will always remind you!
        </p>
      </div>
    </li>

    <li class="orbit-slide text-center">
      <p class="orbit_title">Stats</h3>
      <p class="orbit_text">
        We are currently helping <%= @users.count %> people <br>
        Track <%= @meds.count %> medications <br>
        With <%= @alerts.count %> alerts!
      </p>
    </li>
  </ul>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"></button>
    <button data-slide="1"></button>
  </nav>

</div>
