// Place all the styles related to the alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-text {
  font-size: 1.3em;
  font-family: 'EB Garamond', serif;
}

.alert-title {
  font-size: 4em;
  font-family: 'Quicksand', sans-serif;
}
