// Place all the styles related to the meds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.med_track {
  font-size: 2em;
  font-family: 'Andale Mono';
}

.callout {
  background-color: #FDFFF7;
  color: #564D4A;
  border: 2px solid black;
}
