// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.remindme_title {
  text-align: center;
  padding: 0 5%;
  font-size: 5em;
}

body {
  background-color: #F7F4F3;
  padding: 0 15%;
  text-align: center;
  font-family: 'Josefin Slab' ;
}

a {
  color: #564D4A;
}

a:hover {
  color: #BA1B1D;
}

.accordion a{
 font-size: 2em;
}

.nav_wrapper {
  margin: 0 auto;
}

.nav_wrapper a {
  font-size: 1.5em;
}

.menu {
  display: inline-block;
  text-align: center;
}

.about_remindme {
  font-size: 2em;
}
