// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.remindme_title {
  text-align: center;
  padding: 5%;
  font-size: 5em;
  color: #3d2645
}

body {
  background-color: #D6D9CE;
  padding: 0 15%;
  text-align: center;
}

.test {
  width: 100%;
  background-color: black;
}

.accordion a{
 font-size: 2em;
}

.nav_wrapper {
  margin: 0 auto;
}
